@import "../mixins/media.scss";

$menuItemsGap: 20px;

.navbar {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 60px;
  max-width: var(--max-width);
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--background);

  @include mobile {
    grid-template-columns: 100%;
  }

  .brandLogo {
    width: 42px;
    height: 42px;
    margin: auto;
    max-height: initial !important;
  }

  .navbarBrand {
    grid-column-start: 1;
    display: flex;

    a {
      display: flex;
    }

    .mobileNavbarMenuIcon {
      display: none;
      margin-left: auto;
      height: initial;
      width: 2rem;
      user-select: none;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @include mobile {
        display: flex;
      }
    }
  }

  .alwaysLight {
    a {
      // no theme needed as it is a fixed color for footer
      color: rgba(255, 255, 255, 0.7) !important;

      &:hover {
        background: unset !important;
        transform: unset !important;
      }
    }
  }

  .navbarMenuList {
    grid-column-start: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mobile {
      display: none;
    }

    & > a {
      display: flex;
      text-decoration: none;
      align-items: center;

      & + a {
        margin-left: 15px;
      }

      .m0 {
        margin: 0 !important;
      }

      .accessibleHiddenText {
        width: 0;
        height: 0;
        font-size: 0 !important;
        position: absolute;
        left: 0;
        top: 0;
      }

      button {
        display: flex;
        background: none;
        border: medium;
        border-radius: 14px;
        padding: 10px $menuItemsGap;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        background-blend-mode: overlay;
        font-size: 13px;
        align-items: center;

        &:hover {
          background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%;
          // box-shadow: rgba(31, 47, 71, 0.25) 0px 20px 40px,
          //   rgba(0, 0, 0, 0.1) 0px 1px 5px,
          //   rgba(255, 255, 255, 0.4) 0px 0px 0px 0.5px inset;
          transform: translateY(-1px);
        }

				span {
					// currentcolor for svg comes from here
					color: var(--primary);
				}
      }

      .icon,
      img {
        display: flex;
        align-items: center;
        width: 15px;
        height: 15px;
        margin-right: 12px;
      }
    }

    .themeMode {
      &:hover {
        background: none !important;
        box-shadow: none !important;
        transform: translateY(0) !important;
      }
    }

    .menuSep {
      margin: 0 $menuItemsGap;
    }

    .themeBtn {
      margin-left: 10px;
    }
  }
}
