.tutorialLink {
  position: relative;
}

.arrowBoxLeft {
  & > div {
    a {
      flex-direction: row-reverse;
    }
  }
}

.disabled {
  a {
    pointer-events: none;
    opacity: 0.05 !important;

    &:hover {
      opacity: 0.05 !important;
    }
  }
}

.arrowBox {
  display: flex;
  flex-direction: column;

  & > div {
    a {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      opacity: 0.3;
      transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        opacity: 1;
      }
    }

    & + div {
      margin-top: 10px;
    }
  }
}

.rightArrow {
  text-align: right;

  & > span {
    @include from(1216px) {
      margin-right: 40px !important;
    }

    @include from(1500px) {
      margin-right: -100px !important;
    }

    @include from(1700px) {
      margin-right: -150px !important;
    }
  }
}

.leftArrow {
  text-align: left;

  & > span {
    @include from(1216px) {
      margin-left: 40px !important;
    }

    @include from(1500px) {
      margin-left: -100px !important;
    }

    @include from(1700px) {
      margin-left: -150px !important;
    }
  }
}
