@import "@/styles/mixins/mixins.scss";
@import "@/styles/mixins/media.scss";

.hero {
  @include container;

  display: grid;
  position: relative;
  transition: padding 500ms var(--ease-out-quad);
  grid-template-columns: 55% auto;

  @include fullhd {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @include widescreen-only {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @include desktop-only {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @include tablet-only {
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-columns: 55% auto;
  }

  @include mobile {
    padding-top: 60px;
    grid-template-columns: 100%;
  }

  .heroContent {
    padding-right: 45px;
    display: flex;
    align-items: center;

    .link {
      color: var(--secondary);
      cursor: pointer;
      border-bottom: 1px var(--landing-title-link-border-color) solid;
      text-decoration: none;
      font-weight: normal;
    }

    .heroTitle {
      font-weight: 700;
      background: var(--title-hero-text-gradient);
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      user-select: none;
      margin-top: 0;
      margin-bottom: 15px;
      letter-spacing: -1px;

      @include mobile {
        width: 100%;
        font-size: 36px !important;
        text-align: center !important;
      }

      @include tablet-only {
        font-size: 36px !important;
      }

      @include small-tablet-only {
        font-size: 34px !important;
      }

      @include small-tablet-only {
        font-size: 30px !important;
      }

      @include desktop-only {
        font-size: 46px !important;
      }
    }

    .heroSubTitle {
      color: var(--secondary);
      font-weight: 500;
      letter-spacing: -1px;
      font-size: 24px;
      margin: 0;

      @include mobile {
        font-size: 1.1rem !important;
        text-align: center !important;
      }

      @include tablet-only {
        font-size: 24px !important;
      }

      @include small-tablet-only {
        font-size: 20px !important;
      }

      @include smaller-tablet-only {
        font-size: 18px !important;
      }

      @include desktop-only {
        font-size: 30px !important;
      }
    }

    .heroSubTitleText {
      font-size: 15px;
      line-height: 24px;
      color: var(--secondary);
      letter-spacing: -0.01em;
      margin-top: 35px;

      p:last-child {
        margin-bottom: 0;
      }

      @include tablet-only {
        margin-top: 20px;
        font-size: 13px !important;
        line-height: 18px;
      }

      @include small-tablet-only {
        font-size: 13px !important;
      }

      @include smaller-tablet-only {
        font-size: 11px !important;
      }

      @include desktop-only {
        margin-top: 30px;
        font-size: 14px !important;
        line-height: 18px;
      }
    }
  }

  .heroImage {
    display: flex;
    align-items: center;
    justify-content: right;

    img {
      width: 90%;
      height: auto;
      border-radius: 8px;
    }
  }
}
