$tocWidth: 148px;

.indicator {
  position: absolute;
  display: flex;
  transform: translateY(0px);
  top: 0px;
  height: 100vh;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  align-items: flex-start;
  transition:
    opacity 1s ease-in-out,
    visibility 1s linear 0s;

  .topArrow {
    position: absolute;
    top: -26px;
    left: -4px;
    cursor: pointer;
  }

  .disappear {
    opacity: 0 !important;
  }

  &.absoluteBottom {
    top: unset !important;
    bottom: 45px;
    position: absolute !important;
    align-items: flex-end;
  }

  &.fixed {
    position: fixed !important;
    -moz-box-align: center;
    align-items: center;
  }
}

.content {
  position: relative;

  .indicatorWrapper {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    width: 1px;
    height: calc(-40px + 88vh);
    max-height: 440px;
    outline: currentcolor none medium;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;

    .indicatorOverlay {
      position: absolute;
      height: 0%;
      width: 1px;
      background-color: #fff;
      left: 0;
    }
  }

  .headingList {
    width: $tocWidth;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease;

    .headingItem {
      position: relative;
      align-items: center;
      display: flex;
      flex: 1 1 0%;
      padding-bottom: 5px;
      outline: currentcolor none medium;
      user-select: none;
      transition: opacity 0.5s ease;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      h6,
      h5 {
        -moz-box-align: center;
        align-items: center;
        bottom: 0px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: flex;
        font-size: 12px;
        opacity: 0.4;
        padding-left: 18px;
        transition: opacity 1s ease-in-out;
        overflow: hidden;

        .textWrapper {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        a {
          font-weight: normal;
          text-decoration: none;
          color: white;
        }
      }

      h6 {
        font-size: 10px !important;
        padding-left: 24px !important;
      }
    }
  }
}
