.pageContainer {
  height: calc(100vh);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
  }

  .lostAstronaut {
    width: 200px;
    height: 200px;
  }

  .errorContent {
		margin-top: 20px;
    display: flex;
		align-items: center;

    .errorTitle {
      font-weight: 900;
      letter-spacing: -0.04em;
      font-size: 32px !important;
      margin-right: 25px;
    }

    .errorMessage {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
